body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    background-color: #004D40;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #004D40;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#message {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 0.9em;
    color: #333;
}

select {
    padding: 10px 30px 10px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    color: #333;
    appearance: none;
    cursor: pointer;
}

select:hover {
    background-color: #e6e6e6;
}

select:focus {
    outline: none;
    border-color: #004D40;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

select:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.navbar {
    background-color: #004D40;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar img {
    height: 50px;
}

.message-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.message-container ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
}
